<div class="page__container page__about-us page__item">
    <div class="about-us__inner">
        <div class="about-us__title section-title">Коротко о нас:</div>
        <div class="about-us__content">
            <div class="about-us__item">
                <img src="../../img/ecology.png" alt="ecology icon" class="about-us__icon">
                <div class="about-us__text">Экологически <br> чистые материалы</div>
            </div>
            <div class="about-us__item">
                <img src="../../img/scandinavian.png" alt="scandinavian" class="about-us__icon">
                <div class="about-us__text">Скандинавский стиль <br>
                    по российской цене</div>
            </div>
            <div class="about-us__item">
                <img src="../../img/like.png" alt="likes on photos" class="about-us__icon">
                <div class="about-us__text">Увеличивает лайки <br>
                    на фотографиях</div>
            </div>
            <div class="about-us__item">
                <img src="../../img/handmade.png" alt="handmade" class="about-us__icon">
                <div class="about-us__text">Связано вручную с <br>
                    любовью и умилением</div>
            </div>
            <div class="about-us__item">
                <img src="../../img/domestic.png" alt="domestic" class="about-us__icon">
                <div class="about-us__text">Поддержка отечественного <br> производителя</div>
            </div>
            <div class="about-us__item">
                <img src="../../img/package.png" alt="package" class="about-us__icon">
                <div class="about-us__text">Поставляется в <br>
                    подарочной упаковке</div>
            </div>
        </div>
    </div>
</div>