<div class="contacts page__container">
    <div class="contacts__data page__item">
        <div class="contacts__title">Контакты</div>
        <div class="contacts__flag-icon"></div>
        <div class="contacts__email">
            <div class="contacts__email-field">e-mail:</div>
            <div class="contacts__email-address">info@mimimmiskashop.ru</div>
        </div>
        <div class="contacts__address">
            <div class="contacts__address-field">адрес:</div>
            <div class="contacts__contact-address">г. Санкт-Петербург,
                <br> ул. Большая Конюшенная,
                <br> д. 19/8, офис 101</div>
        </div>
    </div>
    <div class="contacts__map">
        <iframe class="contacts__map-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48354.51970366628!2d30.492614707884456!3d50.43511397662663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce558f9f07dd%3A0xe16fb168411ad705!2z0JzQuNGI0LrQuCDQotC10LTQtNC4LCDQvNGP0LPQutC40LUg0LjQs9GA0YPRiNC60Lg!5e0!3m2!1sen!2sua!4v1523309138630"
         frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="contacts__button page__item button">Напишите нам</div>
</div>