<div class="page__container featured page__featured">
    <div class="page__item featured__content">

        <div class="featured__product-name section-title">Вязаные корзинки</div>
        <div class="featured__title">товар недели</div>

        <div class="featured__product">
            <div class="featured__description">
                Экологически чистая пряжа, ручная работа. Доступны в шести расцветках, и трех размерах.
            </div>
            <div class="featured__characteristic">
                <div class="featured__parameter">Цвет:</div>
                <div class="featured__data">«Тиффани»/серый</div>
            </div>
            <div class="featured__characteristic">
                <div class="featured__parameter">Диаметр:</div>
                <div class="featured__data">25 см</div>
            </div>
            <div class="featured__characteristic">
                <div class="featured__parameter">Высота</div>
                <div class="featured__data">15 см</div>
            </div>
        </div>
        <div class="featured__photo">
            <img class="featured__img" src="../../img/featured.png" alt="featured">
        </div>
        <div class="featured__price-and-order">
            <div class="featured__price">
                Цена: 990 руб.
            </div>
            <div class="featured__order button js-add-to-cart">заказать</div>
        </div>
    </div>
</div>