<div class="footer pager__footer page__container">
    <div class="page__item footer__content">
        <img class="footer__logo" src="../../img/mishka-logo-mobile.png" alt="mishka logo">
        <div class="footer__social social">
            <img src="../../img/instagram.png" alt="instagram" class="social__instagram">
            <img src="../../img/facebook.png" alt="facebook" class="social__facebook">
            <img src="../../img/twitter.png" alt="twitter" class="social__twitter">
        </div>
        <div class="footer__developed-by developed-by">
            <div class="developed-by__text">Разработано</div>
            <a href="#" class="developed-by__link">
                <img src="../../img/developed-by.png" alt="developed by icon" class="developed-by__icon">
            </a>
        </div>
    </div>
</div>