<div class="hero page__hero page__item">
    <div class="hero__top-links hero-links">
        <div class="hero-links__item hero-links__item--catalog">
            <a href="#" class="nav-link__text">Каталог товаров</a>
        </div>
        <div class="hero-links__item hero-links__item--knitting">
            <a href="#" class="nav-link__text">Вязание на заказ</a>
        </div>
        <div class="hero-links__item hero-links__item--new-arrivals">
            <a href="#" class="hero-links__text">Новые поступления</a>
        </div>
        <div class="hero-links__item hero-links__item--sale">
            <a href="#" class="hero-links__text">Распродажа</a>
        </div>
        <div class="hero-links__item hero-links__item--free-deliveries">Бесплатная доставка по России</div>
    </div>
    <div class="hero__title">Милые штуки ручной
        <br> работы для дома</div>
</div>