<div class="modal">
    <form class="modal__window" action="/index.html" method="get">
        <div class="modal__content">
            <div class="modal__title">Добавить в корзину</div>
            <div class="modal__text">Выберите размер:</div>
            <div class="modal__size-container">
                <div class="modal__field">
                    <input type="radio" class="modal__radio" value="s" name="size" checked><div class="modal__size modal__size--s">S</div>
                </div>
                <div class="modal__field">
                    <input type="radio" class="modal__radio" value="m" name="size"><div class="modal__size modal__size--m">M</div>
                </div>
                <div class="modal__field">
                    <input type="radio" class="modal__radio" value="l" name="size"><div class="modal__size modal__size--l">L</div>
                </div>
            </div>
            <button type="submit" class="modal__button">Добавить</button>
        </div>
    </form>
</div>