<form class="order" action="/submit-form" method="POST">
    <div class="page__container">
        <div class="page__item">
            <div class="order__intro">Мы будем рады воплотить в жизнь ваши пожелания! Заполните простую форму заказа и мы свяжемся с вами, чтобы уточнить
                детали.
            </div>
        </div>
    </div>
    <div class="order__type">
        <div class="page__container">
            <div class="page__item order__group">
                <div class="order__header">тип</div>
                <div class="order__inner order__inner--type">
                    <div class="order__field order__field--type-first order__field--type">
                        <input type="radio" name="type" value="interior" class="order__radio" checked>
                        <div class="order__decorate-form-element order__decorate-form-element--radio"></div>
                        <label class="order__label">
                            Аксессуар для интерьера
                        </label>
                    </div>

                    <div class="order__field order__field--type">
                        <input type="radio" value="toys" name="type" class="order__radio">
                        <div class="order__decorate-form-element order__decorate-form-element--radio"></div>
                        <label class="order__label">
                            Детская игрушка
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="order__color">
        <div class="page__container">
            <div class="page__item order__group order__group--color">
                <div class="order__header">цвет</div>
                <div class="order__inner order__inner--color">
                    <div class="order__field order__field--color">
                        <input type="checkbox" name="color" value="white" class="order__checkbox" checked>
                        <div class="order__decorate-form-element order__decorate-form-element--checkbox"></div>
                        <label class="order__label">
                            Белый
                        </label>
                    </div>
                    <div class="order__field order__field--color">
                        <input type="checkbox" name="color" value="grey" class="order__checkbox" checked>
                        <div class="order__decorate-form-element order__decorate-form-element--checkbox"></div>
                        <label class="order__label">
                            Серый
                        </label>
                    </div>
                    <div class="order__field order__field--color">
                        <input type="checkbox" name="color" value="tiffany" class="order__checkbox">
                        <div class="order__decorate-form-element order__decorate-form-element--checkbox"></div>
                        <label class="order__label">
                            «Тиффани»
                        </label>
                    </div>
                    <div class="order__field order__field--color">
                        <input type="checkbox" name="color" value="black" class="order__checkbox">
                        <div class="order__decorate-form-element order__decorate-form-element--checkbox"></div>
                        <label class="order__label">
                            Черный
                        </label>
                    </div>
                    <div class="order__field order__field--color">
                        <input type="checkbox" name="color" value="pink" class="order__checkbox">
                        <div class="order__decorate-form-element order__decorate-form-element--checkbox"></div>
                        <label class="order__label">
                            Розовый
                        </label>
                    </div>
                    <div class="order__field order__field--color">
                        <input type="checkbox" name="color" value="orange" class="order__checkbox">
                        <div class="order__decorate-form-element order__decorate-form-element--checkbox"></div>
                        <label class="order__label">
                            Оранжевый
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="order__name">
        <div class="page__container">
            <div class="page__item order__group">
                <div class="order__header">фио</div>
                <div class="order__inner order__inner--name">
                    <div class="order__field order__field--name">
                        <label class="order__label order__label--name">
                            Имя:
                        </label>
                        <input type="text" placeholder="Введите ваше имя*" name="name" class="order__input" required>
                    </div>

                    <div class="order__field order__field--name">
                        <label class="order__label order__label--name">
                            Фамилия:
                        </label>
                        <input type="text" placeholder="Укажите фамилию*" name="name" class="order__input" required>
                    </div>

                    <div class="order__field order__field--name">
                        <label class="order__label order__label--name">
                            Отчество:
                        </label>
                        <input type="text" placeholder="Отчество, если желаете" name="name" class="order__input">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="order__phone">
        <div class="page__container">
            <div class="page__item order__group order__group--phone">
                <div class="order__header">тел</div>
                <div class="order__inner order__inner--phone">
                    <input type="tel" placeholder="+7 ХХХ ХХ ХХ*" name="phone" class="order__input order__input--phone" required>
                </div>
            </div>
        </div>
    </div>
    <div class="order__email">
        <div class="page__container">
            <div class="page__item order__group order__group--email">
                <div class="order__header">e-mail</div>
                <div class="order__inner order__inner--email">
                    <input type="email" placeholder="Ваш Email*" name="email" class="order__input order__input--email" required>
                </div>
            </div>
        </div>
    </div>
    <div class="order__notes">
        <div class="page__container">
            <div class="page__item order__group order__group--notes">
                <div class="order__header">доп</div>
                <div class="order__inner">
                    <textarea class="order__textarea" name="notes" placeholder="Опишите все ваши пожелания к заказу" cols="30" rows="10"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="page__container">
        <div class="order__bottom-section page__item">
            <div class="order__required-fields">*Поля обязательны для заполнения</div>
            <button type="submit" class="order__submit button">отправить заказ</button>
        </div>
    </div>
</form>