<div class="page__container">
    <div class="products-list page__item">
        <div class="products-list__content">
              <!-- <a href="#" class="products-list__item product">
            <div class="product__img"></div>
            <div class="product__description">
                <div class="product__name"></div>
                <div class="product__info"></div>
            </div>
            <div class="product__footer">
                <div class="product__price"></div>
                <a href="#" class="product__cart cart">
                    <span class="cart__icon"></span>
                </a>
            </div>
        </a>
        <a href="#" class="products-list__item product">
            <div class="product__img"></div>
            <div class="product__description">
                <div class="product__name"></div>
                <div class="product__info"></div>
            </div>
            <div class="product__footer">
                <div class="product__price"></div>
                <a href="#" class="product__cart cart">
                    <span class="cart__icon"></span>
                </a>
            </div>
        </a>
        <a href="#" class="product products-list__item">
            <div class="product__img"></div>
            <div class="product__description">
                <div class="product__name"></div>
                <div class="product__info"></div>
            </div>
            <div class="product__footer">
                <div class="product__price"></div>
                <a href="#" class="product__cart cart">
                    <span class="cart__icon"></span>
                </a>
            </div>
        </a> -->
        </div>
      <div class="products-list__video production-video">
          <div class="production-video__header">
              <img src="../../img/camera.png" alt="camera icon" class="production-video__icon">
              <div class="production-video__title">Процесс производства</div>
              <div class="production-video__video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/f1dnocPQXDQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
              <div class="production__description">По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются наши товары.</div>
              <div class="production-video__button button">Сделать заказ</div>
        </div>
      </div>
    </div>
</div>