<div class="page__container">
    <div class="page__item production-video">
        <div class="production-video__header">
            <img src="../../img/camera.png" alt="camera icon" class="production-video__icon">
            <div class="production-video__title">Процесс производства</div>
        </div>
        <div class="production-video__container">
            <iframe class="production-video__video" src="https://www.youtube.com/embed/f1dnocPQXDQ" frameborder="0" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>
                <!-- <div class="production-video__custom-ytb-button"></div> -->
        </div>
        <div class="production-video__description">По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются наши товары.</div>
        <div class="production-video__button button">Сделать заказ</div>
    </div>
</div>