<div class="page__container">
    <ul class="products-list page__item">
        <li class="products-list__item product">
            <div class="product__img">
                <picture class="product__picture-tag">
                    <source srcset="../../img/product1-mobile.png" media="(max-width: 600px)">
                    <source srcset="../../img/product1-tablet.png" media="(max-width: 900px)">
                    <img class="product__picture" src="../../img/product1-desktop.png" alt="product image">
                </picture>
            </div>
            <div class="product__description">
                <div class="product__name">Зайчик-попрыгайчик</div>
                <div class="product__info">Рост 30 см, вес 200 г</div>
                <div class="product__order">
                    <div class="product__price">1 200 руб.</div>
                    <a href="#" class="product__cart cart js-add-to-cart">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 19" width="22" height="19">
                            <g id="Page 1">
                                <path id="Path 1" class="cart__icon" d="M18.02 11.56L4.28 11.56L3.47 8.73L18.83 8.73L18.02 11.56ZM16.36 17.35L5.93 17.35L4.71 13.06L17.59 13.06L16.36 17.35ZM20.54 7.23L17.39 7.23L13.99 0.41C13.8 0.04 13.35 -0.11 12.98 0.08C12.61 0.26 12.46 0.71 12.64 1.09L15.72 7.23L6.58 7.23L9.65 1.09C9.83 0.71 9.68 0.26 9.31 0.08C8.94 -0.11 8.49 0.04 8.31 0.41L4.9 7.23L1.75 7.23C1.34 7.23 1 7.56 1 7.98C1 8.39 1.34 8.73 1.75 8.73L1.91 8.73L2.76 11.72C2.58 11.86 2.45 12.07 2.45 12.31C2.45 12.71 2.76 13.02 3.14 13.05L4.8 18.85L17.5 18.85L19.15 13.05C19.54 13.03 19.85 12.71 19.85 12.31C19.85 12.07 19.72 11.86 19.53 11.72L20.39 8.73L20.54 8.73C20.96 8.73 21.29 8.39 21.29 7.98C21.29 7.56 20.96 7.23 20.54 7.23Z"
                                />
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
        </li>
        <li class="products-list__item product">
            <div class="product__img">
                <picture>
                    <source srcset="../../img/product2-mobile.png" media="(max-width: 600px)">
                    <source srcset="../../img/product2-tablet.png" media="(max-width: 900px)">
                    <img class="product__picture" src="../../img/product2-desktop.png" alt="product image">
                </picture>
            </div>
            <div class="product__description">
                <div class="product__name">Корзинка для белья</div>
                <div class="product__info">Диаметр 15 см, высота 10 см</div>
                <div class="product__order">
                    <div class="product__price">690 руб.</div>
                    <a href="#" class="product__cart cart js-add-to-cart">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 19" width="22" height="19">
                            <g id="Page 1">
                                <path id="Path 1" class="cart__icon" d="M18.02 11.56L4.28 11.56L3.47 8.73L18.83 8.73L18.02 11.56ZM16.36 17.35L5.93 17.35L4.71 13.06L17.59 13.06L16.36 17.35ZM20.54 7.23L17.39 7.23L13.99 0.41C13.8 0.04 13.35 -0.11 12.98 0.08C12.61 0.26 12.46 0.71 12.64 1.09L15.72 7.23L6.58 7.23L9.65 1.09C9.83 0.71 9.68 0.26 9.31 0.08C8.94 -0.11 8.49 0.04 8.31 0.41L4.9 7.23L1.75 7.23C1.34 7.23 1 7.56 1 7.98C1 8.39 1.34 8.73 1.75 8.73L1.91 8.73L2.76 11.72C2.58 11.86 2.45 12.07 2.45 12.31C2.45 12.71 2.76 13.02 3.14 13.05L4.8 18.85L17.5 18.85L19.15 13.05C19.54 13.03 19.85 12.71 19.85 12.31C19.85 12.07 19.72 11.86 19.53 11.72L20.39 8.73L20.54 8.73C20.96 8.73 21.29 8.39 21.29 7.98C21.29 7.56 20.96 7.23 20.54 7.23Z"
                                />
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
        </li>
        <li class="products-list__item product">
            <div class="product__img">
                <picture>
                    <source srcset="../../img/product3-mobile.png" media="(max-width: 600px)">
                    <source srcset="../../img/product3-tablet.png" media="(max-width: 900px)">
                    <img class="product__picture" src="../../img/product3-desktop.png" alt="product image">
                </picture>
            </div>
            <div class="product__description">
                <div class="product__name">Большая корзинка для игрушек</div>
                <div class="product__info">Диаметр 30 см, высота 30 см</div>
                <div class="product__order">
                    <div class="product__price">1 500 руб.</div>
                    <a href="#" class="product__cart cart js-add-to-cart">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 19" width="22" height="19">
                            <g id="Page 1">
                                <path id="Path 1" class="cart__icon" d="M18.02 11.56L4.28 11.56L3.47 8.73L18.83 8.73L18.02 11.56ZM16.36 17.35L5.93 17.35L4.71 13.06L17.59 13.06L16.36 17.35ZM20.54 7.23L17.39 7.23L13.99 0.41C13.8 0.04 13.35 -0.11 12.98 0.08C12.61 0.26 12.46 0.71 12.64 1.09L15.72 7.23L6.58 7.23L9.65 1.09C9.83 0.71 9.68 0.26 9.31 0.08C8.94 -0.11 8.49 0.04 8.31 0.41L4.9 7.23L1.75 7.23C1.34 7.23 1 7.56 1 7.98C1 8.39 1.34 8.73 1.75 8.73L1.91 8.73L2.76 11.72C2.58 11.86 2.45 12.07 2.45 12.31C2.45 12.71 2.76 13.02 3.14 13.05L4.8 18.85L17.5 18.85L19.15 13.05C19.54 13.03 19.85 12.71 19.85 12.31C19.85 12.07 19.72 11.86 19.53 11.72L20.39 8.73L20.54 8.73C20.96 8.73 21.29 8.39 21.29 7.98C21.29 7.56 20.96 7.23 20.54 7.23Z"
                                />
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>