<div class="page__container">
    <ul class="products-list page__item">
        <li class="product-list__item">
            <a href="#" class="product">
                <div class="product__img"></div>
                <div class="product__description">
                    <div class="product__name">Зайчик-попрыгайчик</div>
                    <div class="product__info">Рост 30 см, вес 200 г</div>
                </div>
                <div class="product__order">
                    <div class="product__price">1 200 руб.</div>
                    <a href="#" class="product__cart cart">
                        <span class="cart__icon"></span>
                    </a>
                </div>
            </a>
        </li>
        <li class="product-list__item">
            <a href="#" class="product">
                <div class="product__img"></div>
                <div class="product__description">
                    <div class="product__name">Корзинка для белья</div>
                    <div class="product__info">Диаметр 15 см, высота 10 см</div>
                </div>
                <div class="product__order">
                    <div class="product__price">690 руб.</div>
                    <a href="#" class="product__cart cart">
                        <span class="cart__icon"></span>
                    </a>
                </div>
            </a>
        </li>
        <li class="product-list__item">
            <a href="#" class="product">
                <div class="product__img"></div>
                <div class="product__description">
                    <div class="product__name">Большая корзинка для игрушек</div>
                    <div class="product__info">Диаметр 30 см, высота 30 с</div>
                </div>
                <div class="product__order">
                    <div class="product__price">1 500 руб.</div>
                    <a href="#" class="product__cart cart">
                        <span class="cart__icon"></span>
                    </a>
                </div>
            </a>
        </li>
    </ul>
</div>