<div class="page__container reviews">
        <div class="page__item reviews__content">
            <s class="slider__anchor" id="slide-1"></s>
            <s class="slider__anchor" id="slide-2"></s>
            <s class="slider__anchor" id="slide-3"></s>
            <s class="slider__anchor" id="slide-4"></s>
            <div class="reviews__title section-title">Отзывы</div>
            <div class="reviews__slider slider">
                <div class="slider__slide">
                    <div class="slider__text">Я молодая мама, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек.
                        В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а
                        также набирают больше лайков!</div>
                    <div class="reviews__author">
                        <div class="slider__author-name">Анастасия Красильникова</div>
                        <div class="slider__author-email">@misssssiskras</div>
                    </div>
    
                    <div class="slider__arrows">
                        <a href="#slide-4" class="slider__arrow slider__arrow--left"></a>
                        <a href="#slide-2" class="slider__arrow slider__arrow--right"></a>
                    </div>
                </div>
                <div class="slider__slide">
                    <div class="slider__text">Я купила вязаные игрушки всем своим детям и теперь один едят только одного крестьянина в год!</div>
                    <div class="reviews__author">
                        <div class="slider__author-name">Дракониха с Той Горы</div>
                        <div class="slider__author-email">@dragon-mother</div>
                    </div>
                    <div class="slider__arrows">
                        <a href="#slide-1" class="slider__arrow slider__arrow--left"></a>
                        <a href="#slide-3" class="slider__arrow slider__arrow--right"></a>
                    </div>
                </div>
                <div class="slider__slide">
                    <div class="slider__text">Я молодая мама, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек.
                        В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а
                        также набирают больше лайков!</div>
                    <div class="reviews__author">
                        <div class="slider__author-name">Анастасия Красильникова</div>
                        <div class="slider__author-email">@misssssiskras</div>
                    </div>
                    <div class="slider__arrows">
                        <a href="#slide-2" class="slider__arrow slider__arrow--left"></a>
                        <a href="#slide-4" class="slider__arrow slider__arrow--right"></a>
                    </div>
                </div>
                <div class="slider__slide">
                    <div class="slider__text">Я молодая мама, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек.
                        В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а
                        также набирают больше лайков!</div>
                    <div class="reviews__author">
                        <div class="slider__author-name">Анастасия Красильникова</div>
                        <div class="slider__author-email">@misssssiskras</div>
                    </div>
                    <div class="slider__arrows">
                        <a href="#slide-3" class="slider__arrow slider__arrow--left"></a>
                        <a href="#slide-1" class="slider__arrow slider__arrow--right"></a>
                    </div>
                </div>
            </div>
            <div class="reviews__button button">Написать</div>
        </div>
    </div>