<div class="top-menu page__top-menu">
    <div class="top-menu__container page__item">
        <div class="top-menu__link nav-link nav-link--catalog nav-link--top-menu">
            <a href="#" class="nav-link__text">Каталог товаров</a>
        </div>
        <div class="top-menu__link nav-link nav-link--knitting nav-link--top-menu">
            <a href="#" class="nav-link__text">Вязание на заказ</a>
        </div>
        <div class="top-menu__logo logo">
            <a href="#" class="logo__link">
                <picture>
                    <!-- <source srcset="../../img/mishka-logo-mobile.png" media="(max-width: 600px)">
                    <source srcset="../../img/mishka-logo-tablet.png" media="(max-width: 900px)"> -->
                    <img class="logo__image" src="../../img/mishka-logo-desktop.png" alt="mishka logo" class="logo__image">
                </picture>
            </a>
        </div>
        <div class="top-menu__menu menu">
            <div class="menu__bar menu__bar--1"></div>
            <div class="menu__bar menu__bar--2"></div>
            <div class="menu__bar menu__bar--3"></div>
        </div>
        <div class="top-menu__search search">
            <a href="#" class="search__icon"></a>
        </div>
        <div class="top-menu__cart cart">
            <a href="#" class="cart__icon"></a>
            <div class="cart__content">Корзина: пока пуста</div>
        </div>
    </div>
</div>