.about-us {
    padding-top: 34px + $small-wave-height-mobile; 
    padding-bottom: 30px;

    &__title {
        padding-bottom: 0.7em;
    }

    &__item {
        height: 125px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: flex-start;
    }

    &__text {
        font-size: 1.15em;
        font-weight: bold;
    }

    @media(min-width: $tablet) { 
        padding-top: 60px + $small-wave-height-tablet; 

        &__content {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 500px;
        }

        &__item {
            flex-basis: 33%;
        }

        &__text {
            font-size: 1.35em;
        }
    }

    @media(min-width: $desktop) { 
        padding-top: 70px + $small-wave-height-desktop;
        margin-left: 12%;

        &__content {
            align-content: flex-start;
        }
    }
}