.about-us {
    margin-bottom: 30px;
    &__inner {
        padding-top: 34px + $small-wave-height-mobile;
    }
    &__title {
        padding-bottom: 12px;
    }
    &__item {
        height: 123px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: flex-start;
    }
    &__text {
        line-height: 20px;
        font-weight: bold;
    }
    @media(min-width: $tablet) {
        margin-bottom: 65px;
        &__inner {
            padding-top: 55px + $small-wave-height-tablet;
        }
        &__title {
            padding: 0;
        }

        &__item {
            width: 50%;
        }
        &__text {
            font-size: 20px;
            line-height: 22px;
        }

        &__icon {
            padding-top: 34px;
        }

        &__icon\--ecology, &__icon\--like {
            padding-left: 6px;
        }
        &__content {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 470px;
        }
        &__item {
            flex-basis: 33%;
        }
    }
    @media(min-width: $desktop) {
        padding-top: 70px + $small-wave-height-desktop;
        &__inner {
            margin-left: 17%;
        }
        &__content {
            align-content: flex-start;
        }
        &__item {
            width: 33.33%;
        }
    }
}