.button {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #434343;
    text-align: center;

    &:hover {
        background-color: #444444;
        color:white;
    }

    &:active {
        background-color: #444444;
        color: #8d8d8d;
    }

    @media(min-width: $tablet) { 
        padding-left: 2.5em;
        padding-right: 2.5em;
    }
}