.cart {

    text-align: right;

    &__icon {
        fill: #d3d2d2;
    }

    &__link {
        text-decoration: none;
        margin: 0 31px;
    }

    &__content {
        font-weight: bold;
        font-size: 17px;
        display: inline-block;
    }

    @media(min-width: $tablet) {
        &:hover &__content {
            fill: $green-color; 
        }
    
        &:hover &__icon {
            fill: $green-color;  
            opacity: $down-opacity;      
        }
        
        
        &:active &__icon {
            fill: $green-color;  
            opacity: $down-opacity; 
        }

        &:active &__content {
            opacity: $down-opacity;
        }

    }

}