.cart {

    &__icon {
        display: inline-block;
        width: 21px;
        height: 18px;
        background: url('../img/cart.png') no-repeat;
        margin: 0 1em;
        outline: none;
    }

    &__content {
        font-weight: bold;
        font-size: 105%;
        display: inline-block;
    }

    @media(min-width: $tablet) {
        &:hover &__content {
            opacity: $hover-opacity;
        }
    
        &:hover &__icon {
            background: url('../img/cart-hover.png') no-repeat;        
        }
        
        
        &:active &__icon {
            background: url('../img/cart-down.png') no-repeat;
        }

        &:active &__content {
            opacity: $down-opacity;
        }

    }

}