.contacts {
    padding-top: 38px + $small-wave-height-mobile;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    &__flag-icon\--desktop {
        display: none;
    }
    &__title {
        font-weight: bold;
        margin-bottom: 26px;
        font-size: 18px;
        line-height: 30px;
    }
    &__email {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 28px;
        font-size: 15px;
        line-height: 30px;
    }
    &__email-field {
        margin-right: 32px;
    }
    &__email-address {
        border-bottom: 1px solid $green-color;
        padding-bottom: -1px;
        &:hover {
            color: $green-color;
        }
        &:active {
            color: $green-color;
            opacity: 0.5;
        }
    }
    &__address-field {
        margin-right: 32px;
    }
    &__address {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 36px;
        font-size: 15px;
        line-height: 30px;
    }
    &__contact-adress {
        word-wrap: wrap;
    }
    &__button {
        margin-top: 35px;
        margin-bottom: 35px;
        width: 81%;
        margin-right: auto;
        margin-left: auto;
    }
    &__map-iframe {
        height: 457px;
        width: 100%;
    }
    @media(min-width: $tablet) {
        padding-top: 74px + $small-wave-height-mobile;
        &__data {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
        }
        &__title {
            flex-basis: 70%;
            font-size: 43px;
            line-height: 50px;
            margin-bottom: 48px;
        }
        &__flag-icon {
            width: 47px;
            height: 81px;
            margin-top: -18px;
        }
        &__email,
        &__address {
            flex-basis: 50%;
            font-size: 17px;
            margin-bottom: 55px;
        }
        &__email-field, &__address-field {
            margin-right: 26px;
        }
        &__button {
            margin-top: 50px;
            margin-bottom: 57px;
            margin-left: calc(50% - 230px/2);
            padding-left: initial;
            padding-right: initial;
            width: 230px;
            display: inline-block;
        }
    }
    @media(min-width: $desktop) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-end;
        height: 457px;
        padding-top: 0;
        margin-top: 94px;
        margin-bottom: 105px;

        &__title {
            margin-bottom: 43px;
        }
        
        &__flag-icon {
            display: none;
        }
        &__flag-icon\--desktop {
            padding-top: 60px;
            display: block;
            order: -1;
            flex-basis: 100%;
            width: 16.5%;
            margin: 0;
            text-align: center;
        }
        &__data {
            height: initial;
            display: initial;
            width: 33.5%;
            margin: 0;
        }
        &__email {
            margin-bottom: 30px;
        }
        &__address {
            margin-bottom: 0;
        }
        &__map {
            order: 1;
            flex-basis: 100%;
            width: 50%;
        }
        &__button {
            padding-left: 2em;
            padding-right: 2em;
            height: initial;
            margin: 78px 0 0 0;
            align-self: flex-start;
        }
    }
}