.featured {
    position: relative;
    padding: 34px 0;
    &::after {
        content: '';
        display: block;
        position: absolute;
        height: $small-wave-height-mobile;
        width: 100%;
        top: 100%;
        left: 0;
        background: url('../img/featured-wave.svg') center center repeat-x;
        background-size: auto $small-wave-height-mobile;
        @media(min-width: $tablet) {
            height: $small-wave-height-tablet;
            background-size: auto $small-wave-height-tablet;
        }
        @media(min-width: $desktop) {
            height: $small-wave-height-desktop;
            background-size: auto $small-wave-height-desktop;
        }
        @media(min-width: 1050px) {
            background: none;
        }
    }
    &__content {
        position: relative;
        @media(min-width: $tablet) {
            display: grid;
            grid-template-columns: 50% 35% 15%;
            grid-template-rows: repeat(3, auto);
            // grid-row-gap: 2rem;
            grid-template-areas: "name name title" "product photo photo" "priceAndOrder photo photo";
        }
        @media(min-width: 1050px) {
            &::after {
                content: '';
                display: block;
                position: absolute;
                height: $small-wave-height-desktop;
                width: 100%;
                bottom: 0;
                left: 0;
                background: url('../img/featured-wave.svg') center center repeat-x;
                background-size: auto $small-wave-height-desktop;
            }
        }
    }
    &__product-name {
        // margin-bottom: 8px;
        grid-area: name;
        @media(min-width: $tablet) {
            margin-bottom: 0;
        }
    }
    &__title {
        text-transform: uppercase;
        font-size: 17px;
        line-height: 20px;
        color: $green-color;
        font-weight: bold;
        grid-area: title;
        @media(min-width: $tablet) {
            text-align: left;
            font-size: 17px;
            line-height: 17px;
        }
    }
    &__product {
        margin-top: 23px;
        grid-area: product;
        @media(min-width: $tablet) {
            margin: 48px 13% 0 0;
        }
    }
    &__description {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 18px;
        @media(min-width: $tablet) {
            font-size: 17px;
            line-height: 30px;
            margin-top: -7px;
            margin-bottom: 38px;
        }
    }
    &__characteristic {
        display: flex;
        font-size: 15px;
        line-height: 20px;
        border-bottom: 1px solid #ececec;
        height: 38px;
        align-items: center;
    }
    &__parameter {
        flex-basis: 37%;
    }
    &__data {
        flex-basis: 63%;
    }
    &__photo {
        grid-area: photo;
        margin: 28px 0 22px 0;
        @media(min-width: $tablet) {
            margin: 48px 0 0 0;
        }
    }
    &__img {
        width: 100%;
        height: auto;
    }
    &__price-and-order {
        grid-area: priceAndOrder;
        @media(min-width: $tablet) {
            align-self: end;
            margin-right: 13%;
        }
        @media(min-width: $desktop) {
            grid-area: 3 / 2;
            margin: 0;
        }
    }
    &__price {
        text-align: center;
        line-height: 24px;
        font-weight: bold;
        margin-bottom: 25px;
        @media(min-width: $tablet) {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 35px;
        }
    }
    @media(min-width: $tablet) {
            padding: 45px 0;
            margin-top: 25px;
        &__parameter {
            flex-basis: 33%;
        }
        &__data {
            flex-basis: 67%;
        }

        &__order {
            margin-bottom: 5px;
        }
    }
    @media(min-width: $desktop) {
        padding: 0;
        margin-top: 86px;
        

        &__content {
            grid-template-columns: 16.5% 28.2% 5.3% 50%;
            grid-template-rows: repeat(3, auto);
            grid-template-areas: none;
            padding-bottom: 93px;
        }

        &__description {
            margin-top: 0;
            margin-bottom: 54px;
        }
        &__product {
            grid-area: 2 / 2;
            margin-top: 45px;
            margin-right: 0;
        }
        &__product-name {
            grid-area: 1 / 2 / span 1 / span 3;
            align-self: end;
        }
        &__title {
            grid-area: 1 / 1;
            align-self: end;
            text-align: center;
            padding-bottom: 12px;
        }
        &__photo {
            grid-area: 1 / 4 / span 3 / span 1;
            align-self: start;
            margin: 0;
        }
        
    }

}