.footer {
    background-color: $grey-color;
    &__logo-link {
        display: none;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 160px;
    }
    &__social {
        width: 70%;
        height: 50%;
    }
    &__developed-by {
        height: 50%;
        width: 88%;
        border-top: 1px solid #e5e5e5;
    }
    @media(min-width: $tablet) {
        &__content {
            flex-direction: row;
            // justify-content: stretch;
            align-items: center;
            height: 143px;
        }
        &__logo-link {
            display: block;
            flex-basis: 33.32%;
        }
        &__logo {
            fill: #2b2e34;
            &:hover {
                fill: $green-color-2;
            }
            &:active {
                fill: $green-color-2;
                opacity: $down-opacity;
            }
        }
        &__social {
            flex-basis: 33.32%;
        }
        &__developed-by {
            border-top: none;
            flex-basis: 33.32%;
        }
    }
}