.hero {
    background-image: url('../img/hero-mobile.png');
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: auto $hero-height-mobile * 1.24;
    position: relative;

    &__title {
        font-size: 1.6rem;
        font-weight: 600;
        text-align: center;
        position: absolute;
        width: 90%;
        top: $hero-height-mobile * 0.28;
        left: 50%;
        transform: translateX(-50%);

        @media(min-width: $tablet) { 
            font-size: 3rem;
            top: $hero-height-tablet-desktop * 0.23;
        }

        @media(min-width: $desktop) {
            font-size: 3.5rem;
        }

    }

    @media(min-width: $tablet) { 
        background-image: url('../img/hero-desktop-tablet.png');
        background-size: auto $hero-height-tablet-desktop * 1.19;
    }
}