.hero-links {
    display: none;
    @media(min-width: $tablet) {
        display: flex;
        width: 100%;
        align-items: flex-end;
        &__text {
            color: black;
            text-decoration: none;
        }
        &__text:hover {
            opacity: $hover-opacity;
        }
        &__text:active {
            opacity: $down-opacity;
        }
        &__item--new-arrivals,
        &__item--sale {
            display: none;
            width: 17.9%;
        }
        &__item--catalog,
        &__item--knitting {
            font-weight: bold;
            width: 25%;
        }
        &__item--free-deliveries {
            margin-left: auto;
            font-size: 15px;
        }
        &__item--sale {
            padding-left: 3%;
        }
    }
    @media(min-width: $desktop) {
        &__item--catalog,
        &__item--knitting {
            display: none;
        }
        &__item--new-arrivals,
        &__item--sale {
            display: block;
            font-weight: bold;
            font-size: 15px;
        }
    }
}