.hero {

    background-color: $grey-color;
    position: relative;

    &\--index {
        background-image: url('../img/hero-mobile.png');
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: auto $hero-height-mobile--index * 1.24;
        background-color: $grey-color--index;
    }

    &__top-links {
        height: 40px;
    }

    &__title {
        font-size: 1.6rem;
        font-weight: 600;
        text-align: center;
        position: absolute;
        width: 90%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);        

    }

    &__title\--index {
        top: $hero-height-mobile--index * 0.28;
        transform: translateX(-50%);
    }

    @media(min-width: $tablet) { 
        
        &::after {
            content: '';
            display: block;
            position: absolute;
            height: 20px;
            width: 100%;
            top: 100%;
            left: 0;
            background: url('../img/wave.svg') center center repeat-x;
            background-size: auto 100%;    
            background-color: $grey-color;            
        } 

        &\--index {
            background-image: url('../img/hero-desktop-tablet.png');
            background-size: auto $hero-height-tablet-desktop--index * 1.19;

            &::after {
                display: none;
            }
        }

        &__title {
            font-size: 3rem;
        }

        &__title\--index { 
            top: $hero-height-tablet-desktop--index * 0.23;
        }
    }

    @media(min-width: $desktop) {
        &__title { 
            font-size: 3.5rem;
        }
    }
}