.menu {
    &__icon {
        fill: #221f1f;
    }

    &__close {
        fill: #221f1f;
    }

    &__close-svg {
        display: none;
    }

    &__svg\--invisible {
        display: none;
    }

    &__close-svg\--visible {
        display: block;
    }
}