.menu {
    &__icon {
        fill: #221f1f;
    }

    &__close {
        display: none;
        fill: #221f1f;
    }

    &__icon\--invisible {
        display: none;
    }

    &__close\--visible {
        display: block;
    }
}