.mobile-menu {
    transition: all .8s ease-out;    //z-index also should be transitioned otherwise thre will be no height transitining when closing menu
    overflow: hidden;
    position: absolute;
    top: $top-menu-height-mobile;
    height: 0;
    z-index: 0;
    background-color: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
    
    
    &\--visible {
        z-index: 10;
        display: flex;
        height: $top-menu-height-mobile * 4;
    }

    &__item {
        height: $top-menu-height-mobile;
        border-bottom: 1px solid $grey-border-color;
        display: flex;
        align-items: center;
        width: 100%;
        padding-left: 9.5%;
        padding-right: 9.5%;
    }

    &__text {
        font-size: 17px;
        font-weight: bold;
    }

    &__link {
        text-decoration: none;
        color: black;
    }

    &__link + &__link {
        margin-left: 25px;
    }

    &__link\--knitting, &__link\--catalog {
        margin-left: 43px;
    }

    @media (min-width: $tablet) {
        display: none;
    }
}