.nav-link { 

    align-items: center;

    &__text {
        display: inline-block;
        color: black;
        text-decoration: none;
        font-weight: bold;
        font-size: 105%;
    }

    &\--catalog {
        border-right: 1px solid #ececec;
    }

    &\--knitting {
        padding-left: 3%;
    }
    
}