.nav-link { 

    &__text {
        display: inline-block;
        color: black;
        text-decoration: none;
        font-weight: bold;
        font-size: 17px;
    }

    @media(min-width: $tablet) { 
        display: flex;
        align-items: center;
        
        &__text:hover {
            opacity: $hover-opacity;
        }
    
        &__text:active {
            opacity: $down-opacity;
        }
    
        &\--catalog {
            border-right: 1px solid #ececec;
        }
    
        &\--knitting {
            padding-left: 3%;
        }
    }
    
}