.nav {

    background-color: $grey-color--index;
    position: relative;

    &__inner {
        display: flex;
        flex-direction: column;

        @media(min-width: $tablet) {
            flex-direction: row;
            align-items: start;
            max-width: 1050px;
            width: $page__item-width-tablet;
            margin-left: auto;
            margin-right: auto; 
        }
    }

    &__item {
        position: relative;
        color: white;
        line-height: 1.4em;
        font-size: 20px;
        padding: 30px 36px;
        font-weight: bold;
        z-index: 1;

        @media(min-width: $tablet) { 
            font-size: 22px;
            width: 50%;
            padding-top:  35px;
            padding-bottom: 35px;
        }
    }

    &__item--interior {
        background: url('../img/lamp.png') right 7% top 23px no-repeat, $green-color;

        @media(min-width: $tablet) { 
            background-position-y: 30px; 

            &::after {
                content: '';
                display: block;
                position: absolute;
                height: 16px;
                width: 100%;
                top: 100%;
                left: 0;
                background: url('../img/wave.svg') top right 3% no-repeat, $green-color;
                background-size: 230%;
            }
        }
 
        &:hover {
            background-image: url("../img/lamp-hover.png");
            padding-bottom: 40px;
        }

        &:active {
            background-image: url("../img/lamp-active.png");
            color: rgba(255, 255, 255, 0.4);
        }
        
    }

    &__item--toys {
        background: url('../img/toys.png') right 7% top 20px no-repeat, #56c3b2; 

        @media(min-width: $tablet) { 
            background-position-y: 31px; 

            &::after {
                content: '';
                display: block;
                position: absolute;
                height: 16px;
                width: 100%;
                top: 100%;
                left: 0;
                background: url('../img/wave.svg') top left 3% no-repeat, #56c3b2;
                background-size: 230%;
            }
        }

        &:hover {
            background-image: url("../img/toys-hover.png");
            padding-bottom: 40px;
        }

        &:active {
            background-image: url("../img/toys-active.png");
            color: rgba(255, 255, 255, 0.4);
        }
    }
}