.nav {
    display: flex;
    flex-direction: column;

    @media(min-width: $tablet) {
        width: 86%;
        margin-left: auto;
        margin-right: auto; 
    }

    &__item {
        height: 16vh;
        color: white;
        font-size: 22px;
        padding: 0 7%;
        font-weight: bold;

        @media(min-width: $tablet) { 
            height: 6.5em;
        }
    }

    &__item--interior {
        background: url('../img/lamp.png') right 7% top 17px no-repeat, #63d1bb;
    }

    &__item--toys {
        background: url('../img/toys.png') right 7% top 20px no-repeat, #56c3b2;
    }

    &__item:hover {
        padding-bottom: 25px;
    }


}