.order {

    &__intro {
        font-size: 0.9em;
        line-height: 1.5em;
        padding: 30px 0;
    }

    &__header {
        text-transform: uppercase;
        font-weight: bold;
        color: $green-color;
        position: relative;
        overflow: hidden;
    }

    &__header::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        top: 50%;
        left: 62px;
        background-color: $green-color;        
    }

    &__group {
        display: flex;
        flex-direction: column;
    }

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__inner\--type {
        height: 160px;
        justify-content: center;
    }

    &__inner\--color {
        height: 400px;
        justify-content: space-evenly;
    }

    &__inner\--name {
        height: 318px;
        justify-content: space-between;
        padding: 32px 0 34px 0;
    }

    &__inner\--email {
        height: 95px;
        justify-content: flex-start;
        padding: 9px 0 12px 0;
    }

    &__inner\--phone {
        height: 95px;
        justify-content: flex-start;
        padding: 9px 0 34px 0;
    }

    &__field {
        display: flex;
    }

    &__field\--row {
        align-items: center;
        position: relative;
    }

    &__field\--column {
        flex-direction: column;
    }

    &__radio, &__checkbox {
        height: 40px;
        width: 40px;
        opacity: 0;
        z-index: 3;
        margin: 0 22px 0 0;
    }

    &__field\--type-first {
        margin-bottom: 20px;
    }

    &__decorate-form-element {
        display: inline-block;
        position: absolute;
        height: 40px;
        width: 40px;
        border: 2px solid black;
    }

    &__decorate-form-element\--radio {
        border-radius: 50%;
    }

    &__radio:checked + &__decorate-form-element::after {
        content: '';
        position: absolute;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        top: 10px;
        left: 10px;
        background-color: $green-color;
        z-index: 2;
    }

    &__radio:hover + &__decorate-form-element {
        border-color: $green-color;
    }

    &__checkbox:hover + &__decorate-form-element {
        border-color: $green-color;
    }

    &__radio:active + &__decorate-form-element {
        border-color: $dark-grey-color;
    }

    &__checkbox:active + &__decorate-form-element {
        border-color: $dark-grey-color;
    }

    &__checkbox:checked + &__decorate-form-element::after {
        content: '';
        position: absolute;
        height: 20px;
        width: 10px;
        top: 50%;
        left: 50%;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        transform: translate(-50%, -50%) rotate(45deg);
        z-index: 2;
    }

    &__label {
        font-weight: bold;
    }

    &__input {
        height: 52px;
        border: 0;
        border-bottom: 2px solid black;
        outline: none;
        font-size: 1rem;

        &:hover, &:active {
            border-color: $green-color;
        }
    }

    &__input::placeholder {
        font-size: 1rem;
        color: $dark-grey-color;
        opacity: 1;
    }

    &__input\--phone {
        background: url('../img/phone.png') top 50% right 8px no-repeat;

        &:hover, &:active {
            background-image: url('../img/phone-active.png')
        }
    }

    &__input\--email {
        background: url('../img/email.png') top 50% right 8px no-repeat;
    }

    &__textarea {
        padding: 1rem;
        height: 140px;
        margin: 24px 0 18px 0;
        outline: none;
        resize: none;

        &:hover, &:active {
            border-color: $green-color;
        }
    }

    &__textarea::placeholder {
        font-size: 1rem;
        color: $dark-grey-color;
        opacity: 1;
    }

    &__required-fields {
        font-size: 0.9em;
    }

    &__submit {
        background-color: white;
        margin: 30px 0 50px 0;
        width: 100%; 
        font-size: 1rem;
    }
}