.page {

    &__container {
        max-width: 1050px;
        margin-left: auto;
        margin-right: auto;
    }
    
    &__item {
        width: 81%;
        height: 100%;
        margin-left: auto;
        margin-right: auto; 
        @media(min-width: $desktop) { 
            width: 100%;
        }
    }

    &__top-menu {
        height: $top-menu-height-mobile;
        @media(min-width: $tablet) { 
            height: $top-menu-height-tablet-desktop;
        }
    }

    &__hero\--index {
        height: $hero-height-mobile--index;
    }

    &__hero\--catalog {
        height: $hero-height-mobile--catalog;
    }

    @media(min-width: $tablet) { 
        &__hero\--index { 
            height: $hero-height-tablet-desktop--index;
        }

        &__hero\--catalog { 
            height: $hero-height-tablet--catalog;
        }
    }

    @media(min-width: $desktop) { 
        &__hero\--catalog { 
            height: $hero-height-desktop--catalog;
        }
    }
    
}

