.search {
    display: none;
    border-right: 1px solid $grey-border-color;
    border-left: 1px solid $grey-border-color;

    &__icon {
        fill: #d3d2d2;

    }

    @media (min-width: $desktop) {

        &__icon:hover {
            fill: $green-color;        
        }
        
        
        &__icon:active {
            fill: $green-color;  
            opacity: $down-opacity;
        }
    }


    @media (min-width: $tablet) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}