.section-title {
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    position: relative;
    top: -5px;
    @media(min-width: $tablet) {
        font-size: 43px;
        line-height: 50px;
    }
    @media(min-width: $desktop) {
        font-size: 3.2em;
    }
}