#slide-1:target ~ .slider {
    transform: translateX(0%);
}
#slide-2:target ~ .slider {
    transform: translateX(-100%);
}
#slide-3:target ~ .slider {
    transform: translateX(-200%);
}
#slide-4:target ~ .slider {
    transform: translateX(-300%);
}


.slider {
    overflow-x: hidden;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
    width: 100%;
    transition: 0.8s;
    // display: flex;

    &__slide {
        flex-shrink: 0;
        width: 100%;
        display: inline-block;
        white-space: initial;
    }



    &__anchor {
        position: fixed;
    }

    &__text {
        line-height: 1.8em;
        margin-bottom: 40px;
    } 

    &__author-name {
        font-weight: bold;
        font-size: 1.2em;
    }

    &__author-email {
        font-size: 1.1em;
        margin-top: 0.7em;
    }

    &__arrows {
        display: flex;
        margin: 2.3em 0;
    }

    &__arrow {
        border: 1px solid #ececec;
        height: 52px;
        flex-basis: 50%;

        &:hover {
            opacity: $hover-opacity;
        }

        &:active {
            opacity: $down-opacity;
        }
    }

    &__arrow\--left {
        background: url('../img/arrow-left.png') 50% no-repeat;
    }

    &__arrow\--right {
        background: url('../img/arrow-right.png') 50% no-repeat;
        border-left: 0;
    }

    @media(min-width: $tablet) { 

        &__slide {
            // display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    

        &__text {
            width: 100%;
            margin: 54px 0 50px 0;
        }

        &__arrows {
            margin: 0;
            margin-left: auto;
            width: 137px;
        }

        &__arrow {
            border: 0;
        }
    }
}