#slide-1:target~.slider {
    transform: translateX(0%);
}

#slide-2:target~.slider {
    transform: translateX(-100%);
}

#slide-3:target~.slider {
    transform: translateX(-200%);
}

#slide-4:target~.slider {
    transform: translateX(-300%);
}

.slider {
    vertical-align: bottom;
    white-space: nowrap;
    transition: all 0.9s ease-in;
    font-size: 0; // to get rid of space between inline-block items 
    &__slide {
        flex-shrink: 0;
        width: 100%;
        display: inline-block;
        white-space: initial;
        font-size: 1rem;
    }
    &__anchor {
        position: fixed;
    }
    &__text {
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 26px;
    }
    &__author-name {
        font-weight: bold;
        font-weight: 26px;
    }
    &__author-email {
        margin-top: 8px;
        line-height: 24px;
    }
    &__arrows {
        display: flex;
        margin: 2.1em 0;
    }
    &__arrow {
        border: 1px solid #ececec;
        height: 52px;
        flex-basis: 50%;
        &:hover {
            opacity: $hover-opacity;
        }
        &:active {
            opacity: $down-opacity;
        }
    }
    &__arrow\--left {
        background: url('../img/arrow-left.png') 50% no-repeat;
    }
    &__arrow\--right {
        background: url('../img/arrow-right.png') 50% no-repeat;
        border-left: 0;
    }
    @media(min-width: $tablet) {
        &__slide {
            // display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            display: inline-block;
        }
        &__author {
            float: left;
        }
        &__author-name {
            font-size: 18px;
            line-height: 24px;
        }
        &__text {
            width: 100%;
            margin: 47px 0 52px 0;
            font-size: 17px;
            line-height: 30px;
        }
        &__arrows {
            margin: 0 17px 0 auto;
            padding-top: 20px;
            width: 137px;
        }
        &__arrow {
            border: 0;
            height: 26px;
        }
        &__arrow\--left {
            background-position-x: 0; 
        }
        &__arrow\--right {
            background-position-x: 100%; 
        }
    }
    @media(min-width: $desktop) { 

        &__text {
            margin-bottom: 35px;
            width: 90%;
        }
     }
}