
.social {
    display: flex;
    justify-content: center;
    align-items: center;


    &__icon {
        fill: #221f1f;

        &:hover {
            fill: $green-color-2;
        }

        &:active {
            fill: $green-color-2;
            opacity: $down-opacity;
        }
    }

    &__link--facebook{
        margin: 0 40px;
    }

    @media(min-width: $tablet) {
        
    }
}