.top-menu {
 
    &__container {
         display: flex;
         justify-content: flex-end;
         align-items: center;
 
         @media(min-width: $tablet) {
             justify-content: stretch;
         }
     }
 
     &__menu {
         width: 8%;
 
         @media(min-width: $tablet) {
             display: none;
         }
     }
 
     &__search {
         flex-basis: $top-menu-height;
         height: 100%;
     }
 
     &__logo {
 
         margin-right: 42%;
 
         @media(min-width: $tablet) {
             flex-basis: 45%;
             margin-right: 0;
         }
     }
 
     &__cart {
 
         display: none; 
 
         @media(min-width: $tablet) {
             flex-grow: 1;
             display: block;
         }        
     }
 }