.top-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: height 1s ease-in-out;
    &\--mobile {
        background-color: white;
    }
    &__search {
        display: none;
        height: 100%;
        @media(min-width: $tablet) {
            display: flex;
            width: 84px;
        }
    }
    &__logo {
        margin-right: 42%;
        @media(min-width: $tablet) {
            flex-basis: 48.5%;
            margin-right: 0;
        }
        @media(min-width: $desktop) {
            flex-basis: 28%;
            margin-right: 3%;
        }
    }
    &__link {
        display: none;
    }
    &__cart {
        display: none;
    }
    @media(min-width: $tablet) {
        &__menu {
            display: none;
        }

        &__cart {
            flex-grow: 1;
            display: block;
        }
    }
    @media(min-width: $desktop) {
        border-bottom: 1px solid $grey-border-color;
        &__link {
            display: flex;
            height: 100%;
            width: 17.9%;
        }
        &__link--knitting {
            width: 17.9%;
        }
    }
}