.top-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid $grey-border-color;
    &__link {
        display: none;
    }
    &__menu {

        @media(min-width: $tablet) {
            display: none;
        }
    }
    &__search {
        flex-basis: $top-menu-height-mobile;
        height: 100%;
        @media(min-width: $tablet) {
            flex-basis: 7.8%;
        }
    }
    &__logo {
        margin-right: 42%;
        @media(min-width: $tablet) {
            flex-basis: 45%;
            margin-right: 0;
        }
        @media(min-width: $desktop) {
            flex-basis: 28%;
            margin-right: 3%;
        }
    }
    &__cart {
        display: none;
        @media(min-width: $tablet) {
            flex-grow: 1;
            display: block;
        }
    }
    @media(min-width: $tablet) {
        justify-content: stretch;
    }
    @media(min-width: $desktop) {
        &__link {
            height: 100%;
            width: 17.9%;
        }

        &__link--knitting {
            width: 17.9%;
        }
    }
}