*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

$top-menu-height-mobile: 80px;
$top-menu-height-tablet-desktop: 90px;

$tablet: 600px;
$desktop: 900px;

$hero-height-mobile--index: 280px;
$hero-height-mobile: 175px;
$hero-height-tablet-desktop--index: 630px;
$hero-height-tablet: 220px;
$hero-height-desktop: 240px;

$hover-color: #b0b0b0;
$down-color: #e7e7e7;

$hero-color--index: #f9f9f9;
$hero-color: #f1f1f1;
$green-color: #63d1bb;

$small-wave-height-mobile: 7px;
$small-wave-height-tablet: 17px;
$small-wave-height-desktop: 23px;